@use './variables.scss' as *;

.announcement-bar {
  padding: 0.5em 1em;
  background: $primary-color;
  color: $white;
  text-align: center;
  font-size: 0.9em;

  > a {
    text-decoration: underline;
    margin-left: 0.5em;
    color: $white;
  }
}
