@use './variables.scss' as *;

// OVERVIEW
.certificate-overview {
  position: relative;
  height: 100%;
  min-height: 250px;
  color: $white;

  .certificate-overview-inner {
    position: relative;
    padding: 3em 1em;
  }

  .certificate-overview-header {
    text-transform: capitalize;
    color: $primary-color;
    text-align: center;
  }

  p,
  p * {
    color: $white;
  }
}

// DESCRIPTION
.certificate-description {
  @media (min-width: $tablet) {
    padding: 2em 1em;
  }

  .certificate-description-inner {
    padding: 1em 0 0;

    li {
      margin: 0.25em 0 0.75em;
    }
  }

  .certificate-image {
    position: relative;
  }

  .certificate-description-image-text {
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: center;
    margin: 0 auto;
    transform: translateX(-50%);
    padding: 3em;

    * {
      color: $white;
    }
  }
}

// RELATED
.certificate-related-product {
  background: transparent !important;
}
