@use './variables.scss' as *;

//------------------
// HAMBURGER MENU (MOBILE)
//------------------
.hamburger {
  position: relative;
  display: flex;
  width: 25px;
  height: 20px;
  cursor: pointer;
  margin: 0 1em;
  flex-shrink: 0;

  .lines {
    width: 100%;
    background-color: $black;
    height: 2px;
    top: 9px;
    position: absolute;
    transition: 0.25s all;

    &:before {
      content: ' ';
      width: 100%;
      background-color: $black;
      height: 2px;
      position: absolute;
      top: -8px;
      transition: 0.25s all;
    }

    &:after {
      content: ' ';
      width: 100%;
      background-color: $black;
      height: 2px;
      position: absolute;
      top: 8px;
      transition: 0.25s all;
    }
  }

  &:hover,
  &.hover {
    .lines {
      &,
      &:before,
      &:after {
        filter: $gray-filter;
      }
    }
  }

  &.open {
    .lines {
      background-color: transparent;

      &:before,
      &:after {
        top: 0;
      }

      &:after {
        transform: rotateZ(-45deg);
      }

      &:before {
        transform: rotateZ(45deg);
      }
    }
  }
}
