@use './variables.scss' as *;

$size-chart-width: 850px;

.size-chart-wrapper .modal-content {
  max-width: $size-chart-width !important;
  overflow: hidden;
  padding: 0 !important;
  text-align: left;

  .size-chart-header {
    padding: 1rem 3rem 0 1rem;
  }

  .hamburger {
    margin: 1em;
  }

  .size-chart-outer {
    background: $white;
    overflow-x: auto;

    .size-chart-inner {
      padding: 0 1em 1em;
      min-width: $size-chart-width - 200px;
      width: 100%;

      .size-chart {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-gap: 1px;
        border: 1px solid $medium-gray;
        background: $medium-gray;
        width: 100%;

        .size-chart-column {
          text-align: center;
          background: $white;

          &:nth-of-type(odd) {
            background: $light-neutral;
          }

          .size-chart-header {
            color: $gray;
          }

          > div {
            padding: 0.75em 0.25em;

            &:not(:first-of-type) {
              border-top: 1px solid $medium-gray;
            }
          }
        }
      }
    }
  }
}
